.navBar {
  position: fixed;
  width: 100%;
  color: #fafafa;
  padding: 1em 3em;
  z-index: 9999;
  transition: 0.3s;
}

.navBarLogo a {
  color: #007bff;
}

@media screen and (max-width: 768px) {
  .navBar {
    width: 100%;
    margin: 0;
    border: none;
    padding: 2em;
  }

  .navBarLogo {
    text-align: center;
    font-size: 1.5em;
  }

  .navBarOptions {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .navBarOptions {
    display: none;
  }
}
