.carousel {
  margin: 3em auto;
  width: 80%;
}

.carousel img {
  width: auto;
}

.mySwiper {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .carousel {
    width: 100%;
    margin: 0;
    border: none;
    padding: 2em;
  }

  .mySwiper {
    width: 100%;
  }
}
