.carousel {
  margin: 3em auto;
  width: 80%;
}

.carousel img {
  max-width: 90%;
  width: auto;
  margin: 0 auto;
}

.carousel p {
  margin: 0 1em;
}

.mySwiper {
  width: 80%;
}

.SwiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .carousel {
    width: 100%;
    margin: 0;
    border: none;
    padding: 2em;
  }

  .mySwiper {
    width: 100%;
  }
}
