.aboutMe {
  min-height: 95vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutMe h1 {
  margin-bottom: 0.5em;
}

@media screen and (max-width: 768px) {
  .aboutMe {
    width: 100%;
    margin: 0;
    border: none;
    padding: 2em;
  }
}
