.aboutMe {
  height: 95vh;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  font-size: 1.2em;
  letter-spacing: 1px;
  text-align: center;
}

.text span {
  color: #73c883;
}
