.acquirements {
  background-image: url("../../assets/wavey-fingerprint.svg");
  background-size: cover;
  background-position: center center;
  color: #fafafa;
  padding: 3em 0;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
