.projects {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px; /* Espaçamento entre os projetos */
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
  transition: all 0.3s ease-in-out;
}

.filter-container {
  max-width: 400px;
  margin: 0 auto 20px auto;
}

.no-results {
  font-size: 18px;
  font-weight: bold;
  color: #888;
  text-align: center;
  width: 100%;
  padding: 20px;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
  .projects {
    width: 90%;
  }

  .filter-container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    width: 100%;
    padding: 1em;
  }

  .filter-container {
    width: 100%;
    padding: 0 10px;
  }
}
