.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 100vh;
  text-align: center;
  color: white;
  padding: 20px;
  background-color: #212121; /* Adicionei um fundo mais escuro, mas ajuste conforme preferir */
}

.intro-content-left img {
  width: 100%;
  max-width: 450px;
  object-fit: contain;
}

.intro-content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px; /* Espaço abaixo do título */
}

.subtitle {
  font-size: 1.3rem;
  opacity: 0.9;
  color: #bbb;
  margin-bottom: 15px; /* Espaço abaixo do subtítulo */
}

.description {
  font-size: 1rem;
  opacity: 0.8;
  line-height: 1.5;
  max-width: 500px;
  margin-top: 10px;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.btn-primary,
.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: transparent;
  color: #007bff;
  border: 2px solid #007bff;
}

.btn-secondary:hover {
  background-color: #007bff;
  color: white;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.social-icons a {
  color: white;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #007bff;
  transform: scale(1.1);
}
