* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "poppins";
  color: #fafafa;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* .title {
  text-align: center;
  font-size: 3em;
  color: #73c883;
  margin-top: 2em;
} */

/* .text {
  font-size: 1.2em;
  letter-spacing: 1px;
  text-align: center;
  width: 80%;
}

.text span {
  color: #73c883;
} */

/* @media screen and (max-width: 768px) {
  .title {
    font-size: 2em;
  }

  .text {
    width: 97%;
  }
} */
