* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  font-family: "poppins";
  color: #fafafa;
}

.title {
  text-align: center;
  font-size: 3em;
  color: #73c883;
}
