* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  font-family: "poppins";
  color: #fafafa;
}

.title {
  text-align: center;
  font-size: 3em;
  color: #73c883;
}

.text {
  font-size: 1.2em;
  letter-spacing: 1px;
  text-align: center;
  width: 80%;
}

.text span {
  color: #73c883;
}
